*{
  margin: 0;
  padding: 0;
  font-family: "Host Grotesk", sans-serif;
  
  
}
body{
  max-width: 1500px;
  margin: 0 auto;
}
nav{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
nav ul{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
nav ul li{
  list-style: none;
  
}

nav ul li a{
  text-decoration: none;
}

/* Shared style */
.primary-btn{
  padding: 12px 24px;
  background-color:#E8BA2E ;
  border: none;
  border-radius: 12px;
  font-weight: 600;
}

section{
  max-width: 1200px;
  margin: 91px auto;
}
header{
  display: flex;
  flex-direction: column;
  gap:14px ;
}
.banner-parent{
  background-image: url('./assets/Background.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 16px;
  position: relative;
  /* margin: 0 auto; */
  border-radius: 10px;
  
}
.banner-content{
  position: absolute;
  bottom: 90px;
  left: 44px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.header-content{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.banner-content h1{
  width: 463px;
  font-size: 88px;
  color:#FFFFFF ;
}
.banner-content p{
  width: 448px;
  font-style: 16px;
  color: #FFFFFF;
}

.match-status{
display: grid;
grid-template-columns: repeat(4,1fr);
/* gap: 24px; */
background-color:#F4C430 ;
margin: 0 16px;
padding: 42px 40px 53px 39px;

}
.match-status h1{
  font-size: 72px;
}

/* Explore Host Cities */

.explore-cities-parent{
  display: flex;
  flex-direction: column;
  gap: 56px;

}
.explore-cities-parent > h1{
  font-size: 56px;
    text-align: center;
}
.cities-container{
  display: flex;
  flex-direction: column;
  gap: 53px;
  justify-content: center;
  align-items: center;
}
.explore-cities-parent .cities{
  display: flex;
  flex-direction: row;
  gap:48px ;
  align-items: center;
}

.cities .cities-content{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cities ul{
  padding-inline-start: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cities-content p{
  width: 80%;
  font-size: 16px;
}
/* time schedule table section */
.time-scidule{
  border: 1px solid #D9D9D9;
  padding: 24px;
  border-radius: 10px;
  
}
.time-scidule > div{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* table portion */
table{
  width: 100%;
  border-collapse: collapse;
  
}
thead th{
  background-color: #A73131;
  color: #FFFFFF;
  text-align: center;
  padding: 16px 0;
  border: 1px solid #777;

}
tbody td{
  text-align: center;
  padding: 16px 0;
  border: 1px solid #777;
}

/* footer portion */
footer{
  background-color: #000000;
  padding: 78px 60px 0 60px;
  color: white;
}
footer .up-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom:80px ;
}

footer .up-right-content{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

footer .down-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 0 0 0;
  padding: 0 0 24px 0;
}
.down-left-content{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.down-right-content{
  display: flex;
  flex-direction: row;
  gap: 40px;
}